build/*
!build/heaps
build/heaps/*
!build/heaps/js
build/heaps/js/*
!build/heaps/js/index.html
!build/heaps/js/index.modular.html

!build/html5
build/html5/*
!build/html5/index.html


pippo/*
!pippo/pluto
pippo/pluto/*
!pippo/pluto/paperino.xml