build/*
!build/heaps
build/heaps/*
!build/heaps/js
build/heaps/js/*
!build/heaps/js/index.html
!build/heaps/js/index.labels.html

!build/html5
build/html5/*
!build/html5/index.html
!build/html5/js/index.modular.html
!build/html5/js/index.labels.html

/.haxelib/nme
/.haxelib/hxcpp
/.haxelib/format
